body {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    background-attachment: fixed;
    font-family: "Mojangles";
}


a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover{
    color: rgb(0, 255, 0);
    text-shadow: 0 0 10px #00ff00;
}

a.hidden{
    display: none;
}

h3 {
    color: white;
}
h2 {
    color: white;
}

h3.luafunction{
    color: #00ffff;
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: large;
}

h3.title{
    font-size: medium;
}

@font-face {
    font-family: "Mojangles";
    src: url('Fonts/Mojangles.ttf');
}


header.title{
    background-color: rgba(255, 0, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    display: flex;
    gap: 10px;
    top: 0;
    position: sticky;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0,0, 0, 0.5);
}



div.border_content{
    border: 1px solid rgb(0, 255,0);
    width: 85%;
    margin: 25px;
    box-shadow: 0 10px 10px rgba(0,0, 0, 0.5);
    background-color: rgba(255, 0, 255, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
}
div.luaborder{
    overflow: hidden;
}
div.borderpurple{
    border: 5px solid rgb(44,8,99);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0, 0, 0.5);
    background-color: rgb(27,12,27);
}



div.luaborder:hover{
    transform: scale(1.05);
    transition: 0.1s;
}

div.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


img.content{
    width: 85%;
    border: 5px solid rgb(44,8,99);
    border-radius: 10px;
}

div.marginlua{
    margin: 25px;
}

div.margin_content{
    margin: 25px;
    gap: 25px;
}

div.lualist{
    gap: 25px;
}

div.luafunction {
    min-width: 25%;
    max-width: 85%;
}

iframe.youtube{
    border-radius: 10px;
    width: 85%;
    border: 5px solid rgb(255, 0,0);
}

iframe.ratio{
    aspect-ratio: 16 /9;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
    h1{
        font-size: medium;
    }
    h2 {
        font-size: 0.55rem;
    }
    h3.luafunction {
        font-size: 0.4rem;
    }
}

* {
    cursor: url('img/cursor.png'), auto !important;
}

iframe#fnfgame{
    border-radius: 10px;
    border: 5px solid silver;
    border-bottom: 50px solid silver;
}

button.shutdown{
    background-color: red;
}

button.restart{
    background-color: orange;
}

button.fullscreen{
    background-color: green;
}

button#playbutton{
    background-color: rgb(0, 255,0);
}

button.button{
    border-radius: 10px;
    border: 5px solid black;
}